/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */
header {
    width: 100vw;
}

.container {
    width: 100vw;
    margin: 0 auto;
}

.clearifx::after {
    content: '';
    display: table;
    clear: both;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.debug-box {
    height: 70px;
    background: rgba(255,255,255 .1);
    border: 1px solid black
}

.container .col {
    width: 50%;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
    text-align: end;
}

.brand {
    display: inline-block;
    margin-right: 20px;
}

.brand img {
    width: 100px;
    vertical-align: middle;
}

.main-menu {
    display: inline-block;
    list-style: none;
}

.main-menu > li {
    display: inline-block;
}

.main-menu li a {
    display: inline-block;
    line-height: 70px;
    padding: 0 20px;
    color: black;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.main-menu li a:hover {
    border-bottom-color: currentColor
}

.btn {
    padding: 5px 20px;
    color: white;
    background-color:#0061ff;
    border: currentColor;
}
